<p>playlists works!</p>
<button mat-raised-button color="primary" (click)="getPlaylists()">Show playlists</button>
<button mat-raised-button color="primary" (click)="getActivePlaylists()">Merge selected playlists</button>


<mat-selection-list #list [(ngModel)]="selectedPlayLists" [compareWith]="compareFunction">
    <ng-container *ngFor="let playlist of playLists | async">
        <mat-list-option [value]="playlist">{{playlist.name}}</mat-list-option>
        <mat-divider></mat-divider>
    </ng-container>
</mat-selection-list>
