<div style="margin: auto; width: 50%; text-align: center;">

    <p>playlists works!</p>
    <button mat-raised-button color="primary" (click)="getPlaylists()">Show playlists</button>
    <div>
        <ng-container *ngIf="selectedPlayLists.length > 1">
            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput [(ngModel)]="newPlayListName">
            </mat-form-field>
            <button color="primary" (click)="mergePlaylists()">Merge selected playlists</button>
        </ng-container>

        <mat-selection-list #list [(ngModel)]="selectedPlayLists" [compareWith]="compareFunction">
            <ng-container *ngFor="let playlist of playLists | async">
                <mat-list-option [value]='playlist'>{{playlist.name}}</mat-list-option>
                <mat-divider></mat-divider>
            </ng-container>

        </mat-selection-list>
    </div>
</div>